.empcards{
    background-color: rgba(15, 56, 42, 0.95);
    text-align: center;
    color: white;
    padding: 1.4375rem;
}
.emphead{
    color: rgba(253, 203, 25, 1);
}
h3{
    color: white;
}

.year-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.625rem;
    justify-items: center;
    margin-top: 1.25rem;
}

.year-card {
    background-color: rgba(15, 56, 42, 1);
    border-radius: 0.3125rem;
    overflow: hidden;
    width: 21.875rem;
    text-align: center;
    padding: 15px;
}
.year-paragraph {
    margin-top: 0.625rem;
    font-size: 1rem;
    color: rgba(200, 200, 200, 0.9);
}
.titlecol{
    font-size: 1.25rem;
    font-weight: 500;
}

.year-card img {
    width: 100%;
    height: auto;
}
.coloyear{
    color: rgba(45, 192, 141, 1);
    font-size: 1.875rem;
}
.pagination {
    margin-top: 1.25rem;
    justify-content: center;
  
}

.pagination span {
    background-color: #ffffff;
    border-radius: 50%;
    width: 1.5625rem;
    height: 1.5625rem;
    display: inline-block;
    line-height: 1.5625rem;
    margin: 0 0.625rem;
    cursor: pointer;
    font-weight: 600;
    color: #31593c;

    
}